
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

body {
    --graph-main:var(--text-accent);
    --graph-muted:rgba(126, 126, 126, 0.5);
    --font-default: 'Noto Serif SC', serif;
}

.callout {
    font-family: 'Noto Serif SC', serif;
}

@media(max-width: 1490px) {
    body .graph {
        display:block !important;
    }
}

body nav.toc ol {
    list-style:none;
    padding-left:10px;
    border-left:2px solid var(--background-secondary);
}

body nav.toc>ol {
    padding-left:0;
    border-left:none;
}

body .toc-container li::before {
    content:"" !important;
}


.sidebar .toc-container {
    max-height:unset;
}

@media(max-width: 1490px) {
    body .toc {
        display:block !important;
    }
}

@media(max-width: 1000px) {
    .sidebar .toc-container {
        max-height:320px;
    }
}