
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

body {
    --graph-main:var(--text-accent);
    --graph-muted:rgba(126, 126, 126, 0.5);
    --font-default: 'Noto Serif SC', serif;
}

.callout {
    font-family: 'Noto Serif SC', serif;
}

body .graph {
    flex:unset !important;
}

body .sidebar-container>div:not(.graph) {
    width:320px;
    max-height:365px;
    overflow-y:auto;
}

body nav.filetree-sidebar {
    top:85px;
    left:20px;
    position:fixed;
    height:calc(100% - 160px);
    display:flex;
    flex-direction:column;
    border-radius:10px;
    overflow-x:hidden;
}

body nav.filetree-sidebar .search-button {
    margin:10px;
    min-width:160px;
    margin-bottom:20px;
}

body nav.filetree-sidebar>.folder {
    flex:1;
    overflow-y:auto;
    overflow-x:hidden;
    margin-right:-10px;
}

body nav.filetree-sidebar .notelink {
    border-radius:10px;
    padding:5px 0 5px 8px;
}

body nav.filetree-sidebar .notelink a::before {
    margin-right:2px;
}

body nav.filetree-sidebar .notelink.active-note {
    transform:unset;
}
body nav.filetree-sidebar .fa-sticky-note {
    display:none !important;
}

body nav.toc ol {
    list-style:none;
    padding-left:10px;
    border-left:2px solid var(--background-secondary);
}

body nav.toc>ol {
    padding-left:0;
    border-left:none;
}

body .toc-container li::before {
    content:"" !important;
}

body nav.navbar {
    top:10px;
    right:10px;
    left:10px;
    width:calc(100% - 20px);
    border-radius:10px;
    z-index:99999;
}

.sidebar .toc-container {
    max-height:unset;
}

.sidebar .backlinks {
    flex:unset;
}

@media(max-width: 1490px) {
    body .graph {
        display:block !important;
        order:2;
    }

    body .sidebar-container {
        flex-wrap:wrap;
        flex-direction:row;
        justify-content:space-between;
    }
}

@media(max-width: 575.99px) {
    body #forest-graph .forest-body {
        transform:rotate(45deg) scale(0.9);
    }
}

body nav.navbar .navbar-inner h1::before {
    content:" ";
    display:inline-block;
    width:1em;
    height:1.2em;
}

body nav.filetree-sidebar h1::before {
    content:" ";
    display:block;
    width:100%;
    height:3em;
}

.sidebar-container {
    padding-right: 20px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 87%;
}

.toc {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    ol {
        list-style: none;
        padding-left: 10px;
        border-left: 2px solid var(--background-secondary);
    }

    & > ol {
        padding-left: 0;
        border-left: none;
    }
}

.toc-container {
    overflow-y: auto;
    border-left: 1px solid var(--text-accent);
    ul {
        list-style-type: none;
        padding-inline-start: 15px !important;
        margin-top: 0;
        margin-bottom: 0;
    }
    ul:not(:first-child) {
        margin-bottom: 3px;
    }

    li {
        padding-top: 4px;
        &::before {
            content: "# " !important;
            color: var(--text-accent);
            font-size: 0.8rem;
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.toc-title-container {
    display: flex;
    justify-content: flex-start;
}

li.current {
    border-bottom: 1px solid;
}

.sidebar-nav li {
    float: left;
    list-style-type: none;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.item {
    display: none;
}